.idea
*.iml
npm-debug.log
dump.rdb
node_modules
results.tap
results.xml
.DS_Store
*/.DS_Store
*/*/.DS_Store
._*
*/._*
*/*/._*
coverage.*



# configuration files (contain sensitive data - passwords, api keys, etc)

config/dev.js
config/dev-no-auth.js
config/production.js
lib/web/client/static/_js/*min.js*
.tern-port
bundles.json
tiles


