.idea
*.iml
npm-debug.log
dump.rdb
node_modules
results.tap
results.xml
.DS_Store
*/.DS_Store
*/*/.DS_Store
._*
*/._*
*/*/._*
coverage.*



# configuration files (contain sensitive data - passwords, api keys, etc)

plugins/**/_build*
config/dev.js
config/production.js
config/sendgrid-key.txt
#lib/web/client/static/_js/*min.js*
.tern-port
logs