ul.list-initiative-definitions > li {
	margin-bottom: 15px;
}

.field-title {
    color: #7e7e7e;
}


div.list-block {
	margin-bottom: 15px;
}

div.list-block > div {
	margin-bottom: 3px;
}

.has-definition {
	color: #006600;
}

/* override css from the leaflet.awesome-marker plugin */
.awesome-marker i {
  font-size: 18px;
}