{% extends (commonTemplatesPath + "/layouts/index_paper_kit.html")                           %}

{% from (commonTemplatesPath + "/includes/navbar.html")             import navbar            %}
{% from (commonTemplatesPath + "/includes/footer.html")             import footer            %}


{% block head %}


    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Rede Convergir
    </title>

    {# paper kit css #}

    <link href="/public/lib/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" />

    <link href="/public/lib/bootstrap/x_paper_kit_1.0/assets/css/ct-paper.css" rel="stylesheet"/>
    <link href="/public/lib/bootstrap/x_paper_kit_1.0/assets/css/demo.css" rel="stylesheet" /> 
    <link href="/public/lib/bootstrap/x_paper_kit_1.0/assets/css/examples.css" rel="stylesheet" /> 
    <link href="/public/lib/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">

    <link href="/public/css/paper-kit-override.css" rel="stylesheet" /> 
    <link href="/public/css/rc-global.css" rel="stylesheet"/>
{#    <link href="/public/css/sticky-footer.css" rel="stylesheet"/> #}

    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>


<link href="/public/lib/leaflet/leaflet-1.0beta2/leaflet.css" rel="stylesheet" />
<link href="/public/lib/leaflet/leaflet-label-9c431d/leaflet.label.css" rel="stylesheet" />

<link href="/public/lib/jquery/icheck-1.0.2/skins/minimal/grey.css" rel="stylesheet" />

<link href="/initiatives-app/css/cartografia.css" rel="stylesheet" />
<link href="/initiatives-app/css/menu.css" rel="stylesheet" />



{% endblock %}


{% block body %}



{{ navbar(ctx) }}

<div id="main-container">

dashboard
</div>



{# container for options modal #}
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="mn-r-modal1-contents">

        </div>
    </div>
</div>


<!-- modal bodies -->
{#
{{ modal_types_more_info(ctx) }}
{{ modal_export_map(ctx) }}
#}
<!--   end modal -->




{{ super() }}


    <script type="text/javascript">

    window.RCData = window.RCData || {};
//    RCData.initiatives = {{ ctx.initiatives | stringify }};
//    RCData.definitions = {{ ctx.definitions | stringify }};
//    RCData.initial = {{ ctx.query | stringify   }};
 
    $("nav").addClass("navbar-initiatives");

    </script>


    <!-- cartografia libs -->
    <!-- NOTE: if we add new files here, we must add in the gruntfile as well -->
    <script src="/public/_js/{{ bundles['rc-templates'] }}"></script>
    <script src="/public/lib/jquery/jquery.documentsize-1.2.1.js"></script>
    <script src="/public/lib/jquery/jquery.mousewheel-3.1.12.js"></script>
    <script src="/public/lib/jquery/jquery.scrollTo-2.12.js"></script>
    <script src="/public/lib/jquery/icheck-1.0.2/icheck.js"></script>

{#
                <script src="/public/lib/leaflet/leaflet-0.7.5/leaflet-0.7.5.js"></script>
                <script src="/public/lib/leaflet/mapbox-2.2.2/mapbox.standalone.uncompressed.js"></script>
                <script src="/public/lib/leaflet/leaflet-control-geocoder-1.3.1/Control.Geocoder-1.3.1.js"></script>
#}    
    <script src="/public/lib/leaflet/leaflet-1.0beta2/leaflet-src.js"></script>
    <script src="/public/lib/leaflet/leaflet-label-9c431d/leaflet.label-src.js"></script>
    
    <script src="/public/lib/q/q-1.4.1.js"></script>
    <script src="/public/lib/underscore/underscore-1.8.3.js"></script>
    <script src="/public/lib/nunjucks/nunjucks-slim-1.3.3.js"></script>
    <script src="/public/lib/backbone/json2.js"></script>
    <script src="/public/lib/backbone/backbone-1.2.3.js"></script>
    <script src="/public/lib/backbone/backbone.select-1.5.2.js"></script>
    <script src="/public/lib/backbone/backbone.radio-1.0.2.js"></script>
    <script src="/public/lib/backbone/backbone.marionette-2.4.4.js"></script>
    <script src="/public/lib/backbone/backbone.base-router-1.2.0.js"></script>
    <script src="/public/lib/backbone/renderer-nunjucks.js"></script>
    <script src="/public/lib/slug-0.9.1.js"></script>


    <!-- cartografia app -->
    <!-- NOTE: if we add new files here, we must add in the gruntfile as well -->

    <script src="/rc-dashboard/index.js"></script>


{% endblock %}
