{% extends (commonTemplatesPath + "/layouts/index_paper_kit.html")                           %}
{% from (commonTemplatesPath + "/includes/navbar.html")             import navbar            %}

{% block head %}

{# call super to common css #}
{{ super() }} 


<link href="/public/leaflet/mapbox-2.2.2/mapbox.standalone.css" rel="stylesheet" />
<link href="/rc-app/css/cartografia.css" rel="stylesheet" />
<link href="/public/jquery/fullcalendar-2.4.0/fullcalendar.css" rel="stylesheet" />
<link href="/public/jquery/fullcalendar-2.4.0/fullcalendar.print.css" rel='stylesheet' media='print' />
<link href="/public/css/full-calendar-override.css" rel="stylesheet" /> 
<style>

    #calendar {
        margin: 0 auto;
    }

    #loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #map {
        height: 1200px;
    }

</style>


{% endblock %}


{% block body %}

{{ navbar(ctx) }}


<div class="container">

<p style="margin-top: 50px; ">Versão provisória. Está em preparação uma versão melhorada.</p>

<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;hl=pt_PT&amp;bgcolor=%23FFFFFF&amp;src=networkconvergir%40gmail.com&amp;color=%232952A3&amp;ctz=Europe%2FLisbon" style="border-width:0" width="1000" height="600" frameborder="0" scrolling="no"></iframe>

{#
    <div class="row" style="margin-top: 50px">
        <div id="calendar-container" class="col-sm-offset-1 col-sm-7" style="border: 1px solid #bdbdbd; border-radius: 5px; padding: 60px 20px 30px 20px; margin-right: 25px;">
            <div id='loading'>loading...</div>
            <div id='calendar'></div>
        </div>
        <div class="col-sm-3" style="border: 1px solid #bdbdbd; border-radius: 5px; padding: 5px;">
            <div style="" id="map"></div>
        </div>
    </div>
#}

</div>


{#
<div id="main-container">

    <div id="map-container" xstyle="border: solid 1px;">

        <!-- container for modal -->
        <div class="modal x-fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div id="mn-r-modal-contents-1" class="modal-content" >


            </div>
          </div>
        </div>

        <div class="row" style="height: 100%; margin: 0;">
            <div id="mn-r-map-1" class="col-sm-12" style="height: 100%; padding: 0;">
            </div>
        </div>

    </div>
</div>
#}


<!-- Modal Bodies come here -->
<!--   end modal -->


{{ super() }}


	<script type="text/javascript">

	window.Cirac = window.Cirac || {};

    Cirac.tilesHost = "";  // set to empty string if the tiles are being served locally
    //Cirac.tilesHost = "http://clima.fc.ul.pt";
    

	</script>

    {# leaflet #}
    <script src="/public/leaflet/leaflet-0.7.5/leaflet-0.7.5.js"></script>
    <script src="/public/leaflet/mapbox-2.2.2/mapbox.standalone.uncompressed.js"></script>

    {# calendar plugin #}
    <script src="/public/jquery/fullcalendar-2.4.0/lib/moment.min.js"></script>
    <script src="/public/jquery/fullcalendar-2.4.0/fullcalendar.js"></script>
    <script src="/public/jquery/fullcalendar-2.4.0/gcal.js"></script>
    <script src="/public/jquery/fullcalendar-2.4.0/lang/pt.js"></script>  

   
    <script src="/public/underscore/underscore-1.6.0.js"></script>
    
    <script src="/rc-events/index.js"></script>
{#
    <!-- cartografia libs -->
    <!-- NOTE: if we add new files here, we must add in the gruntfile as well -->
    <script src="/public/_js/{{ bundles['cartografia-templates'] }}"></script>
    <script src="/public/jquery/jquery.documentsize-1.2.1.js"></script>
    <script src="/public/jquery/jquery.mousewheel-3.1.12.js"></script>
    <script src="/public/leaflet/leaflet-0.7.5/leaflet-0.7.5.js"></script>
    <script src="/public/leaflet/mapbox-2.2.2/mapbox.standalone.uncompressed.js"></script>
    <script src="/public/leaflet/leaflet-control-geocoder-1.3.1/Control.Geocoder-1.3.1.js"></script>

    <script src="/public/underscore/underscore-1.6.0.js"></script>
    <script src="/public/bootstrap/bootstrap-treeview.js"></script>
    <script src="/public/nunjucks/nunjucks-slim-1.3.3.js"></script>
    <script src="/public/backbone/json2.js"></script>
    <script src="/public/backbone/backbone-1.1.2.js"></script>
    <script src="/public/backbone/backbone.select-1.3.2.js"></script>
    <script src="/public/backbone/backbone.radio-1.0.1.js"></script>
    <script src="/public/backbone/backbone.marionette-2.4.1.js"></script>
    <script src="/public/backbone/renderer-nunjucks.js"></script>


    <!-- cartografia app -->
    <!-- NOTE: if we add new files here, we must add in the gruntfile as well -->

    <script src="/rc-app/menu-definition.js"></script>
    <script src="/rc-app/cirac-layers.js"></script>
    <script src="/rc-app/exclusive-layers.js"></script>

    <script src="/rc-app/index.js"></script>
    <script src="/rc-app/leaflet-backbone-view.js"></script>
    <script src="/rc-app/entities.js"></script>
    <script src="/rc-app/behaviors.js"></script>
    <script src="/rc-app/menu/menu.js"></script>
    <script src="/rc-app/map/map.js"></script>
    <script src="/rc-app/init.js"></script>
#}

{% endblock %}

