<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rede Convergir :: Mapeamento de projectos, eventos e ideias sustentaveis</title>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/public/old/js/markerclusterer.js"></script>
<script type="text/javascript">
window.ptype = {{ ctx.query.ptype }}	
console.log(window.ptype);
</script>
<script type="text/javascript" src="/public/old/js/maptool.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-209361-20', 'redeconvergir.net');
  ga('send', 'pageview');

</script></head>

<body leftmargin="0" topmargin="0">

<div id="map_canvas" style="width: {{ ctx.query.MapWidth }}px; height:{{ ctx.query.MapHeight }}px; border:#FFF 10px solid; float:left;">Loading... 
</div>

{% if ctx.query.search %}
<div style="position:fixed; top:40px; left:115px; z-index:10;">
    <form action="/map.php" method="get">
        <select name="ptype" id="ptype" style="height:25px; color:#666; width:190px;" onchange="this.form.submit()">
            <option value="11">Seleccione um tipo de projecto:</option>
            <option value="11">Todos</option>
            <option value="1">Transição</option>
            <option value="2">Permacultura</option>
            <option value="3">Gestão da Terra e da Natureza</option>
            <option value="4">Espaço Construído</option>
            <option value="5">Ferramentas e Tecnologias</option>
            <option value="6">Cultura e Educação</option>
            <option value="7">Saúde e Bem-Estar</option>
            <option value="8">Economia e Finanças</option>
            <option value="9">Uso da terra e Comunidade</option>
            <option value="10">Outros</option>
        </select>
        <input type="hidden" name="search" value="1" /> 
        <input type="hidden" name="MapWidth" value="{{ ctx.query.MapWidth }}" /> 
        <input type="hidden" name="MapHeight" value="{{ ctx.query.MapHeight }}" /> 

    </form>
</div>

{% endif %}

</body>
</html>