
<div class="row search-container" style="padding-right: 20px;">

    <div class="col-sm-9" style="padding: 0px 20px 0px 0px; margin-left: -1px;">
        <div class="form-group">
          <div class="input-group" style="background-color: white;">

              <input type="text" style="background-color: white; border: 2px solid #7A9E9F; border-radius: 10px; border-top-right-radius: 0; border-bottom-right-radius: 0;" class="form-control" id="search-initiative" placeholder="Pesquisar">
              <span class="input-group-addon" style="background-color: white; border: 2px solid #7A9E9F; border-left: 0; border-radius: 10px; border-top-left-radius: 0; border-bottom-left-radius: 0; cursor: pointer;">
                  <i style="color: #7A9E9F; font-size: 125%;" class="fa fa-search"></i>
              </span>

          </div>
        </div>
    </div>

    <div class="col-sm-3" style="padding: 0px 15px 0px 0px;">
        <button class="btn btn-primary" style="height: 35px; line-height: 22px; padding: 0px 14px 0px 18px; border-radius: 10px;" id="options-filters">
            Opções 
            <i style="font-size: 125%;" class="fa fa-cog"></i>
        </button>

    </div>

</div>

<div id="mn-r-list"></div>
