
<div class="row" style="margin: 0px 10px 0px 5px; padding: 0px 0px 0px 10px;">
    <div class="col-sm-12" style="padding: 0px 0px 0px 0px; margin-left: -1px;">
    <span style="font-size: 12px; font-family: 'Montserrat'">{{ numFilteredMsg }} </span>
    </div>
</div>


{% if numFiltered > 0 %}

{% for obj in initiatives %}

{% if obj.inFilters and obj.inVisibleBounds %}
<div class="row initiative-container {{ 'initiative-selected' if obj.selected }}" data-slug={{ obj.slug }} >

    <div class="{{ 'col-sm-9' if obj.logo.filename else 'col-sm-12' }}" style="padding: 0;">
    
        <h5 style="margin: 0; color: #3783a7;" title="Ver a ficha completa desta iniciativa (abre numa nova tab)">
            <a href="/iniciativas/{{ obj.slug }}" target="_blank">{{ obj.name }}</a>
        </h5> 
        
        
        <div style="font-size: 13px; line-height: 1.4; color: gray; margin-bottom: 5px; padding-right: 3px;">
        {% if obj.logo %}
            {{ obj.description | replace('<br />', ' ') | replace('\n', ' ') | truncate(160) }} 
        {% else %}
            {{ obj.description | replace('<br />', ' ') | replace('\n', ' ') | truncate(210) }} 
        {% endif %}

            <a href="/iniciativas/{{ obj.slug }}" target="_blank">
                <span class="label label-info" style="padding: 0.2em 0.6em; border-radius: 5px; margin: 0px 0px 0px 5px; xdisplay: inline; " title="Ver a ficha completa desta iniciativa (abre numa nova tab)">Ler mais</span>
            </a>

            <a href="#" data-slug={{ obj.slug }} class="js-fly-to">
                <span class="label label-info" style="padding: 0.2em 0.6em; border-radius: 5px; margin: 0px 0px 0px 5px; xdisplay: inline; " title="Centrar no mapa">Mapa</span>
            </a>

        </div>

        <p style="margin-bottom: 0px; font-size: 12px; color: #007f00;">
            <small>
                <span style="">Tipo:</span> 
                <span title="{{ obj.typeDescription }}" style="opacity: 0.9;">{{ obj.typeTitle }}</span> 
            </small>
            <a href="#" class="js-modal-types-description" data-toggle="modal" data-target="#types-more-info" title="Ver mais detalhes sobre os diferentes tipos de iniciativa">
                <i style="xmargin-left: 2px; color: #009900;" class="fa fa-info-circle"></i>    
            </a>

        </p>


    </div>

    {% if obj.logo.filename %}
    <div class="col-sm-3" style="padding: 0px 15px 0px 0px;">
    
    <a target="_blank" href="/iniciativas/{{ obj.slug }}" title="Ver a ficha completa desta iniciativa (abre numa nova tab)">
        <img style="min-width:80px; max-width:110px; padding: 3px;" src="/public/images/logos/{{ obj.logo.filename }}" class="pull-right img-responsive img-rounded" alt="{{ obj.name }} - logotipo">
    </a>

    </div>
    {% endif %}

</div>

<hr class="initiative-separator"  style="margin: 10px 12px 15px 7px;">

{% endif %}

{% endfor %}

{% else %}

{# empty view #}
<div class="row initiative-container">
    <div class="col-sm-12" style="padding: 0;">
        
        <h5 style="margin: 0; color: #3783a7;">
            Não há iniciativas correspondentes aos critérios de pesquisa.
        </h5> 

    </div>
</div>

{% endif %}
